<%#
# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.
%>

<div class="property-block">
    <div class="property-header">
    </div>
    <div class="property-info-block">

        <div class="property-images">
        </div>
        <div class="property-tabs">
            <ul>
                <li><a href="#quick-info-tab">Quick Info</a></li>
                <li><a href="#detail-tab">Detail</a></li>
                <li><a href="#map-tab">Map</a></li>
            </ul>
            <div id="quick-info-tab">
                
                
            </div>
            <div id="detail-tab">
                
                
            </div>

            <div id="map-tab">
                
                
            </div>


        </div>
    </div>
</div>

